<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<title></title>
</head>

<body>
<div class="food">
	<p>Food</p>
</div>

	<h1>"Things worth having are worth waiting for." –Me, preheating the oven.</h1>
<div class="sen">
	<p>Who eats alone, eats more</p>
</div>


	<div class="img_con">
		<img class= "img1" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/2/4/1/RX-FNM_030111-Lighten-Up-012_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382539856907.jpeg">
	</div>

	<div class="sen">
		<p>"I see it, I like it, I want it, I got it" -<br>Ariana Grande- about the food</p>
	</div>

	<a href="{{url_for('singup_page')}}">Join a food club</a>
	
</body>
</html><!-- Put the HTML template for your page here! -->
