<!DOCTYPE html>
<html>
<head>
    <title>sing up</title>
</head>
<body>
    <p>Sing in to the club food to make sure you are a part from a club food</p>
    <form>
        <input type="text" name="name" placeholder="Yuval">
        <input type="text" name="lastname" placeholder="Katz">
        <input type="password" name="password" placeholder="howmuchilovefood34">
        <input type="submit" value="submit">
    </form>

   <!--  {%if sing%}
    <p>thank you for sing up</p>
    {%endif%} -->

</body>
</html>